# Flask Framework
Flask==3.0.3

# Data Handling and Excel
pandas==2.2.2
openpyxl==3.1.2

# Scheduler & Feed Parser
APScheduler==3.10.4
feedparser==6.0.11

# Environment & Web Scraping
python-dotenv==1.0.1
requests-html==0.10.0
python-dateutil==2.9.0.post0
lxml==5.2.2

# Sentiment Analysis
pysentimiento==0.7.3

# PyTorch (CPU Version)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
torchvision==0.18.1+cpu
torchaudio==2.3.1+cpu